@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/interstate-2');


body{
  background-color: #F6F7F9;
  font-family: 'Interstate', sans-serif;
  font-family: 'InterstateMono', sans-serif;

}

